
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff3700;
  --index: calc(1vw + 1vh);
}

body {
  background: #000000;
  /* background: url("../images/home.jpg") no-repeat; */
}

header {
  display: flex;
	justify-content: center;
  align-items: center;
}

.logo {
	display: flex;
	flex: 2;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(var(--index) * 1.3);
  color: whitesmoke;
  letter-spacing: 1px;
	margin-left: 5px;
  text-decoration: none;
}

.nav {
  display: flex;
	flex: 3;
	font-size: calc(var(--index) * 0.6);
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

.nav li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li:hover a {
  color: var(--primary);
}

.glavnoe {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-110%, -0%);
  font-size: 1.5em;
}

.glavnoe p {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align:justify;
}

.aboutIMG {
  max-width: 800px;
}

@media screen and (max-width: 760px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		display: none;
	}
	
	.nav {
		padding: 10px;
	}

  .glavnoe {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 19%;
    transform: translate(-10%, -0%);
    font-size: 1em;
  }

  .aboutIMG {
    max-width: 340px;
  }
}

@media (min-width: 768px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}

  .glavnoe {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 19%;
    transform: translate(-10%, -0%);
    font-size: 1em;
  }

  .aboutIMG {
    max-width: 640px;
  }
}

@media (min-width: 820px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}

  .glavnoe {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 21%;
    transform: translate(-10%, -0%);
    font-size: 1em;
  }

  .aboutIMG {
    max-width: 650px;
  }
}

@media (min-width: 1024px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}

  .glavnoe {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 21%;
    transform: translate(-10%, -0%);
    font-size: 1em;
  }

  .aboutIMG {
    max-width: 800px;
  }
}

@media (min-width: 1920px) {
	header a {
		font-size: calc(var(--index) * 0.7);
	}

	.logo {
		flex: 2;
	}
	
	.nav {
		flex: 3;
	}

  .glavnoe {
    top: 10%;
    left: 77%;
    transform: translate(-110%, -0%);
    font-size: 1.5em;
  }

  .aboutIMG {
    max-width: 800px;
  }
}

@media (min-width: 2560px) {
  .glavnoe {
    top: 10%;
    left: 70%;
    transform: translate(-110%, -0%);
    font-size: 1.5em;
  }
}
