
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff3700;
  --index: calc(1vw + 1vh);
}

body {
  background: #000000;
  background: url("../images/home.jpg") no-repeat;
}

header {
  display: flex;
	justify-content: center;
  align-items: center;
}

.logo {
	display: flex;
	flex: 2;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: calc(var(--index) * 1.3);
  color: whitesmoke;
  letter-spacing: 1px;
	margin-left: 5px;
  text-decoration: none;
}

.nav {
  display: flex;
	flex: 3;
	font-size: calc(var(--index) * 0.6);
}

.nav li {
  list-style: none;
  margin: 0 10px;
}

.nav li a {
  color: #2c2929;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
	font-family: 'EB Garamond';
  font-style: normal;
	font-weight: 500;
}

.nav li:hover a {
  color: var(--primary);
}

.glavnoe {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(22, 22, 21, 0.72);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

@media screen and (max-width: 760px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		display: none;
	}
	
	.nav {
		padding: 10px;
	}
}

@media (min-width: 768px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}
}

@media (min-width: 820px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}
}

@media (min-width: 1024px) {
	header a {
		font-size: calc(var(--index) * 1.2);
	}

	.logo {
		flex: 1;
	}
	
	.nav {
		padding: 10px;
	}
}

@media (min-width: 1920px) {
	header a {
		font-size: calc(var(--index) * 0.7);
	}

	.logo {
		flex: 2;
	}
	
	.nav {
		flex: 3;
	}
}
